body{
    align-content: center;
    text-align: center;
}
img{
    width: 100%;
}
h2{
    text-align: center;
}
/* grid-template-columns sirve para establecer número de columnas
con 50% y 50% divido el ancho en partes iguales para que
pueda entrar dos columnas*/
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid div{
    background: white;
    padding: 1em;
}
/* con la clase hover establezco que cuando apunto con mi mause
los div de clase grid va haber un borde de 1 pixel*/
.grid div:hover{
    border: 1px solid #6f00ff;
}

/* uso la clase grid2 para poder crear por separado las columnas
divididas en 3 */
.grid2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.grid2 div{
    background: white;
    padding: 1em;
}
.grid2 div:hover{
    border: 1px solid #6f00ff;
}
/* grid-template-rows , rows es filas y aquí abajo le estoy poniendo 50px a la primera fila, 150px a la segunda fila */
.grid3{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50px 150px;
}
.grid3 div{
    background: white;
    padding: 1em;
}
.grid3 div:hover{
    border: 1px solid #6f00ff;
}
.contenedor{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #131313;
    color: aqua;
    display: flex;
}
.hijo{
    background-color: #6f00ff;
    width: 200px;
    height: 100px;
    color: #fff;
    margin: 30px;
    padding: 20px;
    font-size: 40px;
    text-align: center;

}