.grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid div{
    background: white;
    padding: 1em;
}
.grid div:hover{
    border: 1px solid #6f00ff;
}

.grid2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.grid2 div{
    background: white;
    padding: 1em;
}
.grid2 div:hover{
    border: 1px solid #6f00ff;
}